<!DOCTYPE html>
<html>
<head>
    <title>Digest Twitter Thoughts</title>
</head>
<body>
    <h2>Get tweet sentiment</h2>
    <form action="/digest" method="post">
        <label for="tokens">Get tweet sentiment</label><br>
        <input type="text" id="tokens" name="tokens"><br>
        <button type="submit">Digest</button>
    </form>

    <h2>Get tweet disribution by author</h2>
    <form action="/tweets_distribution" method="post">
        <button type="submit">Get tweet distribution</button>
    </form>

</body>
</html>
